<div class="mt-4">
    <h3>dang khoa hoc</h3>
    <form method="POST" action="/news/store">
        <div class="form-group">
            <label for="name" class="description">name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">


            <label for="mota" class="description">mo ta</label>
            <input type="text" class="form-control" id="mota" name="mota">





        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>